<app-navbar></app-navbar>
<div class="container signin">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offest-xl-4">
      <h1>{{title|uppercase}}</h1>

      <form [formGroup]="groupForm" (ngSubmit)="group(groupForm.value)">

        <div class="form-group">
          <input text="text" formControlName="name" matInput placeholder="Nombre" class="form-control"
            (ngModelChange)="formValid()" />
        </div>

        <span *ngIf="checkField('name')">
          <p style="color: red;">{{getErrorMessage("name")}}</p>
        </span>

        <div class="form-group">
          <input type="text" formControlName="description" matInput placeholder="Descripción" class="form-control"
            (ngModelChange)="formValid()" />
        </div>

        <span *ngIf="checkField('description')">
          <p style="color: red;">{{getErrorMessage("description")}}</p>
        </span>

        <app-categories-select [groupForm]="groupForm" (ngModelChange)="formValid()"></app-categories-select>

        <div class="form-group">
          {{imageError}}

          <input type="file" formControlName="image" matInput placeholder="Imagen" class="form-control-file"
            (change)="fileChangeEvent($event)" />

          <ng-container *ngIf="isImageSaved; else elseTemplate">
            <img [src]="cardImageBase64" class="w-100 mb-2" />
          </ng-container>
          <ng-template #elseTemplate>
            <img src="https://via.placeholder.com/300x300" class="w-100 mb-2">
          </ng-template>

        </div>

        <div class="form-group">
          <input type="text" formControlName="url" matInput placeholder="Sitio Web" class="form-control"
            (ngModelChange)="formValid()" />
        </div>

        <span *ngIf="checkField('url')">
          <p style="color: red;">{{getErrorMessage("url")}}</p>
        </span>

        <input [disabled]="btnGroup" type="submit" value="Crear grupo" class="btn btn-primary">
      </form>

      <app-spinner [activated]="spinner"></app-spinner>

    </div>
  </div>
</div>
