<nav class="navbar navbar-expand-md navbar-light bg-transparent">
  <a class="navbar-brand" routerLink="/">Workshops</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!auth" routerLink="/iniciar-sesion">Crear Grupo</a>
        <a class="nav-link" *ngIf="auth" routerLink="/admin/crear-grupo">Crear Grupo</a>
      </li>
      <li class="nav-item" *ngIf="!auth">
        <a class="nav-link" routerLink="/iniciar-sesion">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!auth" class="nav-link" routerLink="/crear-cuenta">Registrarse</a>
        <a *ngIf="auth" class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li *ngIf="auth" class="nav-item">
        <a class="nav-link" (click)="signOff()">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
</nav>
