<div class="form-group" [formGroup]="groupForm">
  <select class="form-control" formControlName="categoryId">
    <option selected disabled>Elige una categoria</option>
    <option *ngFor="let categorie of categories" value="{{categorie.id}}">{{categorie.nombre}}</option>
  </select>
</div>
