<app-navbar></app-navbar>
<div class="container signup">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offest-xl-4">
      <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
        <h1>{{title | uppercase}}</h1>
        <div class="form-group">
          <input text="text" formControlName="email" matInput placeholder="Correo electrónico" class="form-control"
            (ngModelChange)="formValid()">
          <span *ngIf="checkField('email')">
            <p style="color: red;">{{getErrorMessage("email")}}</p>
          </span>
        </div>
        <div class="form-group">
          <input text="text" formControlName="name" matInput placeholder="Tu nombre" class="form-control"
            (ngModelChange)="formValid()">
          <span *ngIf="checkField('name')">
            <p style="color: red;">{{getErrorMessage("name")}}</p>
          </span>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" matInput placeholder="Contraseña" class="form-control"
            (ngModelChange)="formValid()">
          <span *ngIf="checkField('password')">
            <p style="color: red;">{{getErrorMessage("password")}}</p>
          </span>
        </div>
        <div class="form-group">
          <input type="password" formControlName="confirmPassword" matInput placeholder="Confirma tu Contraseña"
            class="form-control" (ngModelChange)="formValid()">
          <span *ngIf="checkField('confirmPassword')">
            <p style="color: red;">{{getErrorMessage("confirmPassword")}}</p>
          </span>
        </div>
        <button class="btn btn-primary btn-block" [disabled]="btnSignup">
          Crear Cuenta
        </button>
      </form>
      <app-spinner [activated]="spinner"></app-spinner>
    </div>
  </div>
</div>
