<div class="buttons mt-5">
  <div class="row d-flex justify-content-center">

    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <app-button [name]="'Nuevo Grupo'" [class]="'btn btn-yellow btn-block'" [link]="'crear-grupo'">
      </app-button>
    </div>

    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <app-button [name]="'Nuevo Evento'" [class]="'btn btn-blue btn-block'" [link]="'crear-evento'">
      </app-button>
    </div>

    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <app-button [name]="'Editar Perfil'" [class]="'btn btn-pink btn-block'" [link]="'editar-perfil'">
      </app-button>
    </div>

    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <app-button [name]="'Cambiar Password'" [class]="'btn btn-green btn-block'" [link]="'cambiar-password'">
      </app-button>
    </div>

    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <app-button [name]="'Imagen Perfil'" [class]="'btn btn-yellow btn-block'" [link]="'imagen-perfil'">
      </app-button>
    </div>

  </div>
</div>
