<div class="groups mt-5">
  <h1>Tus Grupos</h1>
  <app-spinner [activated]="spinner"></app-spinner>
  <div *ngIf="!spinner">
    <section *ngIf="groups; else elseBlock">
      <div class="row" *ngFor="let group of groups" id="id-{{group.id}}">

        <div class="col-7">
          <h3>{{group.nombre|titlecase}}</h3>
        </div>

        <div class="col-5">
          <div class="row">

            <div class="col-4">
              <app-button [name]="'Imagen'" [class]="'btn btn-green btn-block'"
                [link]="'editar-imagen-grupo/'+group.id+''">
              </app-button>
            </div>

            <div class="col-4">
              <app-button [name]="'Editar'" [class]="'btn btn-blue btn-block'" [link]="'editar-grupo/'+group.id+''">
              </app-button>
            </div>

            <div class="col-4">
              <app-button (clickOnDelete)="getGroups()" [name]="'Eliminar'" [class]="'btn btn-danger btn-block'" [_delete]="
              group.id" [options]="options">
              </app-button>
            </div>

          </div>
        </div>

      </div>
    </section>
    <ng-template #elseBlock>No tienes un grupo creado.</ng-template>
  </div>

</div>
