<main class="categorias">
  <h2>Encuentra Grupos por Categoría</h2>

  <div class="container">
    <app-spinner [activated]="spinner"></app-spinner>
    <div class="row">
      <div *ngFor="let categorie of categories" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 card-categorie">
        <img [src]="'assets/img/categoria_'+categorie.id+'.jpg'" class="w-100 mb-2">
        <p>{{categorie.nombre | titlecase}}</p>
      </div>
    </div>
  </div>

</main>
