<app-navbar></app-navbar>
<div class="container signin">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offest-xl-4">

      <h1>{{title}}</h1>
      <form [formGroup]="groupForm" (ngSubmit)="editGroup(groupForm.value)">

        <div class="form-group">
          <input text="text" formControlName="name" matInput placeholder="Nombre" class="form-control" />
        </div>

        <div class="form-group">
          <textarea formControlName="description" matInput placeholder="Descripción" class="form-control"
            aria-label="With textarea" rows="10"></textarea>
        </div>

        <app-categories-select [groupForm]="groupForm"></app-categories-select>

        <div class="form-group">
          <input type="text" formControlName="url" matInput placeholder="Sitio Web" class="form-control" />
        </div>

        <input type="submit" [disabled]="btnEdit" value="Editar grupo" class="btn btn-primary btn-block">
      </form>

      <app-spinner [activated]="spinner"></app-spinner>

    </div>
  </div>
</div>
