<a *ngIf="_delete;else elseBlock" href="#" class="{{class}}" (click)="onDelete($event)">{{name}}</a>

<ng-template #elseBlock>
  <a routerLink="{{link}}" class="{{class}}">{{name}}</a>
</ng-template>
