.btn {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
  width: 100%;
}

.btn-yellow {
  background-color: #ff8000 !important;
}

.btn-blue {
  background-color: #068d9d !important;
}

.btn-green {
  background-color: #688e26 !important;
}

.btn-pink {
  background-color: #b8336a !important;
}

.btn-danger {
  background-color: rgb(221, 51, 51);
}
