<div class="buscador-inicio mb-5">
  <form class="container">
    <h2>Busca un grupo en tu ciudad</h2>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="form-group">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="form-group">
          <input type="text" placeholder="Titulo Evento" class="form-control">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="form-group">
          <input type="text" placeholder="Ciudad" class="form-control" id="password">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <input type="submit" value="Buscar" disabled class="btn btn-primary">
      </div>

    </div>

  </form>
</div>
