.hero {
  height: 38rem;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  max-width: 800px;
  color: white;
}
