<app-navbar></app-navbar>
<div class="hero" style="background-image: url(assets/img/hero.jpg);">
  <h1>Encuentra un grupo para compartir lo que más te gusta</h1>
</div>
<app-search-group></app-search-group>
<app-upcoming-events></app-upcoming-events>
<app-categories-home></app-categories-home>
