<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <h2>¡Vaya! ¡LA PÁGINA QUE ESTÁS BUSCANDO NO SE PUEDE ENCONTRAR!</h2>
    <br>
    <a routerLink="/"><span class="arrow"></span>Regresar a la página principal</a>
  </div>
</div>
