<app-navbar></app-navbar>
<div class="container signin">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offest-xl-4">
      <form [formGroup]="signinForm" (ngSubmit)="signin(signinForm.value)">
        <h1>Iniciar Sesión</h1>

        <div class="form-group">
          <input
            text="text"
            formControlName="email"
            matInput
            placeholder="Correo electrónico"
            class="form-control"
            (ngModelChange)="formValid()"
          />
          <span *ngIf="checkField('email')">
            <p style="color: red;">{{getErrorMessage("email")}}</p>
          </span>
        </div>

        <div class="form-group">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Contraseña"
            class="form-control"
            (ngModelChange)="formValid()"
          />
          <span *ngIf="checkField('password')">
            <p style="color: red;">{{getErrorMessage("password")}}</p>
          </span>
        </div>
        <div class="form-group form-check">
          <!--<input type="checkbox" class="form-check-input" id="rememberme">
          <label class="form-check-label">Recuérdame</label>-->
        </div>
        <input [disabled]="btnSignin" type="submit" value="Iniciar Sesion" class="btn btn-primary btn-block">
      </form>
      <app-spinner [activated]="spinner"></app-spinner>
    </div>
  </div>
</div>
