body {
  font-family: "Raleway", sans-serif;
  color: #484349;
}
h1,
h2 {
  font-family: "Staatliches", cursive;
  text-align: center;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
nav.navbar a {
  padding: 1rem;
}
nav.navbar a:first-child {
  color: #B8336A;
  font-weight: 700;
  border-right: 1px solid #E6E6E6;
}
.btn-primary{
  background-color: #B8336A !important;
  border: #B8336A !important;
}
